# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
